//fonts
$mainFont: 'Open Sans', Arial, sans-serif;
$mainFontSize: 14px;
$mainLineHeight: 24px;

//colors;

$main:   #4a4a4a;
$white:  #ffffff;
$white2: #f9f9f9;
$green:  #25bc9b;
$red:    #ed5959;
$light:  #9b9b9b;
$dark:   #0A3956;
$dark2:  #0b3956;
$blue:   #d9edf7;

//transition
$transition: all 0.3s ease;