html, body {
  height: 100%;
}

body {
  background-color: $white2;
}

a,
input,
textarea,
.button {
  transition: $transition;
}

a {
  text-decoration: none;
  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: 0;
  }
}

h1, .h1 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 33px;
  font-weight: normal;
}

.page {
  min-height: 100%;
  margin-bottom: -40px;
  &-clearfix {
    clear: both;
    height: 40px;
  }
}

.header {
  padding-top: 40px;
}

.content {
  text-align: center;
}

.board {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 400px;
  padding: 5px;
  border: 1px solid $main;
  margin: 0 auto;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .square {
    display: block;
    width: 125px;
    height: 125px;
    border: 1px solid $main;
    color: $main;
    font-size: 5em;
    font-weight: 100;
    text-align: center;
    padding: 20px;
    line-height: 100%;
    position: relative;
    z-index: 1;
    &.active {
      background-color: $blue;
      &.denied {
        background-color: $red;
      }
    }
    &.zero:hover {
      background-color: $red;
    }
  }

  &[data-win-method="1"] {
    [data-square="0"], [data-square="1"], [data-square="2"] {
      background-color: $green;
    }
  }
  &[data-win-method="2"] {
    [data-square="3"], [data-square="4"], [data-square="5"] {
      background-color: $green;
    }
  }
  &[data-win-method="3"] {
    [data-square="6"], [data-square="7"], [data-square="8"] {
      background-color: $green;
    }
  }

  &[data-win-method="4"] {
    [data-square="0"], [data-square="3"], [data-square="6"] {
      background-color: $green;
    }
  }
  &[data-win-method="5"] {
    [data-square="1"], [data-square="4"], [data-square="7"] {
      background-color: $green;
    }
  }
  &[data-win-method="6"] {
    [data-square="2"], [data-square="5"], [data-square="8"] {
      background-color: $green;
    }
  }

  &[data-win-method="7"] {
    [data-square="0"], [data-square="4"], [data-square="8"] {
      background-color: $green;
    }
  }
  &[data-win-method="8"] {
    [data-square="2"], [data-square="4"], [data-square="6"] {
      background-color: $green;
    }
  }
}

.footer {
  background-color: $dark;
  color: $white;
  line-height: 40px;
  text-align: center;
}